spring:
  application:
    name: christmas_exchange
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

secret:
  key: ${SECRET_KEY}
login:
  start: ${LOGIN_START}